.who-we-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-primary;

  h1 {
    font-size: 38px;
    margin-top: 70px;
    margin-bottom: 25px;
  }

  img {
    margin-bottom: 60px;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 69px;

    li {
      max-width: 170px;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      margin: 0 70px;
      padding: 11px 19px;
      cursor: pointer;
      border: 1px solid #fff;

      &:first-child {
        padding: 23px 42px;
      }
    }
  }

  &-description {
    text-align: center;
    max-width: 640px;
    font-size: 22px;
    line-height: 30px;
    margin: 0 auto 66px;
  }

  &-found {
    display: none;
  }
}

.foundation {
  &-list {
    font-family: $font-alt;
    font-weight: 300;
    width: 1344px;

    li {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-content {
    margin-bottom: 30px;
    color: $color-primary;
  }

  &-title {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 6px;
  }

  &-description {
    font-size: 18px;
    line-height: 22px;
    font-style: italic;
  }

  &-items {
    font-size: 18px;
  }

  &-line {
    width: 100%;
    height: 1px;
    background-color: #707070;
    margin-bottom: 30px;
    &:nth-child(3n) {
      display: none;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  &-item {
    margin: 0 10px;
    cursor: pointer;

    p {
      padding: 13px 15px;
    }
  }
}

.active {
  display: block;

  &-page {
    border: 1px solid #707070;
    p {
      padding: 12px 14px;
    }
  }
}

.hide {
  visibility: hidden;
}

li.active-button {
  border: 1px solid black;
}
